.mainform{
    width: 100%;
    margin:auto;
    padding: 30px;

}
.form{
    margin-top: 30px;
    box-shadow: linear-gradient(5px 5px 5px 5px black);
    border-radius: 10px; 
    padding:40px;
    
}
/* .form img{
    width:250px;
    height: 90px;
} */
.left img{
    margin: 40px;
    /* width: 90% ;
    height: 90% ; */
}
input{
    font-size: 120%;
    /* margin:20px; */
    
}
label{
    
    font-size: 100%;
    font-weight: 400;
}
.check{
    font-weight: 25px;
}
input[type="radio"]
{
    border: 2px solid black;
    margin: 5px;
}
span{
    padding-left: 10px;
}

